In [14]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [15]:
df=pd.read_csv("Covid_Deaths - CovidDeaths.csv")

In [16]:
df.head()

,iso_code,continent,location,date,population,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,...,new_deaths_smoothed_per_million,reproduction_rate,icu_patients,icu_patients_per_million,hosp_patients,hosp_patients_per_million,weekly_icu_admissions,weekly_icu_admissions_per_million,weekly_hosp_admissions,weekly_hosp_admissions_per_million
0,AFG,Asia,Afghanistan,2/24/2020,38928341.0,1.0,1.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AFG,Asia,Afghanistan,2/25/2020,38928341.0,1.0,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,AFG,Asia,Afghanistan,2/26/2020,38928341.0,1.0,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,AFG,Asia,Afghanistan,2/27/2020,38928341.0,1.0,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,AFG,Asia,Afghanistan,2/28/2020,38928341.0,1.0,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
df[df['continent'].isna()]

,iso_code,continent,location,date,population,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,...,new_deaths_smoothed_per_million,reproduction_rate,icu_patients,icu_patients_per_million,hosp_patients,hosp_patients_per_million,weekly_icu_admissions,weekly_icu_admissions_per_million,weekly_hosp_admissions,weekly_hosp_admissions_per_million
432,OWID_AFR,NaN,Africa,2/13/2020,1.340598e+09,NaN,0.0,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
433,OWID_AFR,NaN,Africa,2/14/2020,1.340598e+09,1.0,1.0,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
434,OWID_AFR,NaN,Africa,2/15/2020,1.340598e+09,1.0,0.0,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
435,OWID_AFR,NaN,Africa,2/16/2020,1.340598e+09,1.0,0.0,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
436,OWID_AFR,NaN,Africa,2/17/2020,1.340598e+09,1.0,0.0,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83964,OWID_WRL,NaN,World,4/26/2021,7.794799e+09,147872402.0,682784.0,824854.571,3120469.0,11156.0,...,1.658,1.06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
83965,OWID_WRL,NaN,World,4/27/2021,7.794799e+09,148716872.0,844470.0,823432.429,3134956.0,14487.0,...,1.663,1.05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
83966,OWID_WRL,NaN,World,4/28/2021,7.794799e+09,149622864.0,905992.0,825720.571,3150675.0,15719.0,...,1.693,1.04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
83967,OWID_WRL,NaN,World,4/29/2021,7.794799e+09,150520466.0,897602.0,825413.000,3165665.0,14990.0,...,1.716,1.04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
83968,OWID_WRL,NaN,World,4/30/2021,7.794799e+09,151399480.0,879014.0,822723.714,3180238.0,14573.0,...,1.723,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
pip install geopy

Collecting geopy
  Downloading geopy-2.4.1-py3-none-any.whl (125 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 125.4/125.4 kB 2.3 MB/s eta 0:00:00a 0:00:01
Collecting geographiclib<3,>=1.52
  Downloading geographiclib-2.0-py3-none-any.whl (40 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 40.3/40.3 kB 4.6 MB/s eta 0:00:00
Installing collected packages: geographiclib, geopy
Successfully installed geographiclib-2.0 geopy-2.4.1
Note: you may need to restart the kernel to use updated packages.

In [ ]:
from geopy.geocoders import Nominatim
import time

geolocator = Nominatim(user_agent="geoapiExercises")

def get_continent(location):
    try:
        geo_info = geolocator.geocode(location)
        if geo_info:
            return geo_info.raw['address']['continent']
    except:
        return None
    return None

# Fill missing continent values
df['continent'] = df['continent'].fillna(df['location'].apply(lambda x: get_continent(x) if pd.notnull(x) else None))

print(df)

In [5]:
df.to_csv("CovidDeaths.csv",index=False)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 85171 entries, 0 to 85170
Data columns (total 26 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   iso_code                            85171 non-null  object
 1   continent                           81060 non-null  object
 2   location                            85171 non-null  object
 3   date                                85171 non-null  object
 4   population                          84622 non-null  float64
 5   total_cases                         83072 non-null  float64
 6   new_cases                           83070 non-null  float64
 7   new_cases_smoothed                  82069 non-null  float64
 8   total_deaths                        73408 non-null  float64
 9   new_deaths                          73566 non-null  float64
 10  new_deaths_smoothed                 82069 non-null  float64
 11  total_cases_per_million             82623 non-null  float64
 12  new_cases_per_million               82621 non-null  float64
 13  new_cases_smoothed_per_million      81625 non-null  float64
 14  total_deaths_per_million            72972 non-null  float64
 15  new_deaths_per_million              73130 non-null  float64
 16  new_deaths_smoothed_per_million     81625 non-null  float64
 17  reproduction_rate                   68942 non-null  float64
 18  icu_patients                        8684 non-null   float64
 19  icu_patients_per_million            8684 non-null   float64
 20  hosp_patients                       10814 non-null  float64
 21  hosp_patients_per_million           10814 non-null  float64
 22  weekly_icu_admissions               789 non-null    float64
 23  weekly_icu_admissions_per_million   789 non-null    float64
 24  weekly_hosp_admissions              1295 non-null   float64
 25  weekly_hosp_admissions_per_million  1295 non-null   float64
dtypes: float64(22), object(4)
memory usage: 16.9+ MB

In [7]:
df.shape

(85171, 26)

In [8]:
df=df.fillna("Null")

In [9]:
df.to_csv("CovidDeaths.csv",index=False)

In [10]:
df2=pd.read_csv("Covid_Vac - CovidDeaths.csv")

In [11]:
df2.head()

,iso_code,continent,location,date,new_tests,total_tests,total_tests_per_thousand,new_tests_per_thousand,new_tests_smoothed,new_tests_smoothed_per_thousand,...,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
0,AFG,Asia,Afghanistan,2/24/2020,NaN,NaN,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
1,AFG,Asia,Afghanistan,2/25/2020,NaN,NaN,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
2,AFG,Asia,Afghanistan,2/26/2020,NaN,NaN,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
3,AFG,Asia,Afghanistan,2/27/2020,NaN,NaN,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
4,AFG,Asia,Afghanistan,2/28/2020,NaN,NaN,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511

In [12]:
df2.fillna("Null",inplace=True)

In [13]:
df2.to_csv("CovidVac.csv",index=False)

In [ ]:
from geopy.geocoders import Nominatim
import time

geolocator = Nominatim(user_agent="geoapiExercises")

def get_continent(location):
    try:
        geo_info = geolocator.geocode(location)
        if geo_info:
            return geo_info.raw['address']['continent']
    except:
        return None
    return None

# Fill missing continent values
df['continent'] = df['continent'].fillna(df['location'].apply(lambda x: get_continent(x) if pd.notnull(x) else None))

print(df)